@font-face {
    font-family: 'Barlow Black';
    src: url('../../views/Barlow-Black.ttf');
  }

.navbar {
    font-family: 'Barlow Black';
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #aa9494;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.link {
    text-decoration: none;
  color: #333;
  font-size: 20px;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
}